.pokelist {
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
}

.pokelist li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.pokelist li .evop {
  height: 42px;
}

.pokelist li .evo {
  height: 40px;
  width: 40px;
}

.pokelist li p {
  margin-top: 1px;
  margin-bottom: 1px;
}

.columns {
  columns: auto 670px;
}

.pokelist li .poke {
  width: 120px;
  height: 120px;
}

h1:nth-child(n+2) {
  margin-bottom: 5px;
  margin-top: 20px;
  page-break-before: always;
}
