<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="data/style.css">
    <title>Pokémon Go Tiers</title>
  </head>
  <body>
    <div class="columns">
      {% for _, tierName in tiersOrdered %}<h1>{{tierName}}</h1>
      <ul class="pokelist">{% for pokemon in tierData[tierName] %}
        <li class="{{ pokemon['rarity'] }}">
          <p><img class="poke" src="{{ pokemon['imgUrl'] }}" alt="ico" height="120" width="120"></p>
          <p class="evop">{% for prevo in pokemon['prevolution'] %}
            <img class="evo" src="{{ config['imgsPattern'].format(prevo) }}" alt="ico">{% endfor %}
          </p>
          <p>{{ pokemon['name'] }}</p>
        </li>{% endfor %}
      </ul>{% endfor %}
    </div>
  </body>
</html>
